.App {
    /*text-align: center;*/
}



.card{
    padding: 20px;
    margin: 15px 0;
}
.card-special{
    background-color: rgba(117, 190, 218, 0.5) !important;
}

.directions img{
    width: 35px;
}
.directions .directions{
    margin-left: 25px;
}